/*Specification*/
body {
	padding: 0;
	margin: 0;
	font: 500 17px 'Raleway', sans-serif;	
	color: #000;
}

*::before,
*::after {
	box-sizing: border-box;
}

section {
	padding-top: 130px;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, form {
	padding: 0;
	margin: 0;
}

h1 {
	font: 500 55px 'Raleway', sans-serif;
}

h2 {
	font: 500 40px 'Raleway', sans-serif;
	margin-bottom: 92px;
}

h3 {
	font: 500 25px 'Raleway', sans-serif;
}

h4 {
	font: 500 20px 'Raleway', sans-serif;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.5s ease;
}

img {
	max-width: 100%;
	object-fit: cover;
}

button {
	font-family: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	border-color: transparent;
	background-color: transparent; 
	padding: 0;
}

input {
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	border-color: transparent;
	transition: all 0.5s ease;
}

.link:hover {
	border-bottom: 1px solid #6E9C9F;
	transition: all 0.5s ease;

}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

.btn {
	padding: 22px 50px;
	background: #6E9C9F;
	color: #FFFFFF; 
	font: 400 17px 'Raleway', sans-serif;
	text-align: center;
	display: block;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #509498;
}

.btn-ghost {
	padding: 22px 50px;
	background: #fff;
	border: 1px solid #6E9C9F;
	color: #6E9C9F; 
	font: 400 17px 'Raleway', sans-serif;
	text-align: center;
	display: block;
	width: 243px;
	transition: all 0.5s ease;
}

.btn-ghost:hover {
	background: #6E9C9F;
	color: #fff;
}

/*Header*/

.header-nav {
	background: linear-gradient(to right, #fff 53%, #f1eadc 47%);
}

.logo {
	display: block;
	background: url('../img/icons and arrows/logo.svg');
	width: 139px;
	height: 25px;
	margin-right: 146px;
}

.nav {
	display: flex;
	align-items: center;
	font: 400 15px 'Raleway', sans-serif;
	height: 105px;
	position: relative;
}

/*sticky-header*/

.header--fixed {
	position: fixed;
	width: 100%;
	top: -100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
	z-index: 120;
}

.header--is-show {
	top: 0;
}

.nav-container {
	-webkit-transition: 1s top;
	        transition: 1s top;
}

/*sticky-header end*/

.menu {
	margin-right: 170px;
}

.menu__list {
	display: flex;
}

.menu__item {
	width: 72px;
}
.menu__item:not(:last-child) {
	margin-right: 25px;
}

.menu__item a:hover, 
.menu__item_active a {
	font-weight: 700;
	color: #6E9C9F;
}

.callback-icon {
	display: block;
	background: url('../img/icons and arrows/callback.svg');
	width: 27px;
	height: 27px;
	margin-right: 9px;
}

.callback-icon:hover {
	background: url('../img/icons and arrows/callback_hover.svg');
}


.header-cart {
	display: block;
	background: url('../img/icons and arrows/cart.svg');
	width: 24px;
	height: 24px;
	margin-left: auto;
}

.hamburger {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 20px;
	display: none;
}

.menu-pop-up {
	background: url('../img/icons and arrows/');
	display: none;
	width: 150px;
	height: 240px;
	padding: 30px 20px 20px;
	background-color: #fff;
	z-index: 300;
	position: absolute;
	top: 100px;
	right: 0;
}

.menu__item-pop-up:not(:last-child) {
	margin-bottom: 25px;
}

.offer-wrapper {
	display: flex;
	justify-content: space-between;
	min-width: 0;
	padding-top: 10px;
}

.offer {
	padding-top: 145px;
}

.offer__slider {
	width: 550px;
	height: 100%;
} 

.offer__title {
	max-width: 585px;
}

.offer__intro {
	font: 400 20px 'Raleway', sans-serif;
	margin: 30px 0 30px;
	max-width: 385px;
	text-align: right;
}

.offer__button {
	margin-top: 52px;
	width: 385px;
}

.offer__btns {
	display: flex;
	 justify-content: flex-end;
}

.offer__down {
	width: 64px;
	background: rgba(110, 156, 159, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Slick*/

.slider-foto,
.main-img,
.slider-text,
.offer__slide {
	min-width: 0;
	outline: none
}

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
}

.offer__dots .slick-dots {
	display: flex;
}

.offer__dots .slick-dots li {
	list-style: none;
	margin: 0 12px 0 0;
}

.offer__dots .slick-dots li:last-child {
	margin-right: 0;
}

.offer__dots .slick-dots li button {
	font-size: 0;
	width: 30px;
	height: 4px;
	background-color: #D1D1D1;
}

.offer__dots .slick-dots li.slick-active button {
	background-color: #000;
} 

.offer__dots {
	width: 385px;
	display: flex;
    justify-content: flex-end;
    margin-top: 112px;
}


/*Slick end*/


.swiper-pagination {
	max-width: 385px;
	text-align: right!important;
	bottom: 5rem!important;

}

.swiper-pagination-bullet  {
	width: 30px !important;
	height: 4px !important;
	background-color: #000 !important;
	border-radius: 0% !important;
	margin-right: 12px;
}

.swiper-pagination-bullet:last-child{
    margin-right: 0;
}

.offer-img {
	max-width: 410px;
	position: relative;	
	margin-bottom: 5rem;
}

.main-img {
	max-width: 410px;
	max-height: 646px;
}

.too-img {
	max-width: 197px;
	position: absolute;
	z-index: 6;
	top: 8rem;
    right: -5.7rem;
}

.three-img {
	max-width: 190px;
	position: absolute;
	z-index: 6;
	bottom: -5rem;
    left: -8rem;
}


/*One-item-container*/

.one-item-container {
	display: flex;
	padding-top: 102px;
}

.one-item-block {
	display: flex;
	justify-content: space-between;
}

.one-foto {
	width: 530px;
	height: 720px;
}

.one-foto1 {
	width: 100%;
	height: 100%;
}


.one-item {
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.options-size-block,
.options-color-block,
.addcart {
	margin-top: 59px;
}


.options-text {
	font: 500 40px 'Raleway', sans-serif;
}

.options-text:not(:last-child) {
	margin-right: 29px;
}

.options-size__dots {
	margin-top: 34px;
	display: flex;
}

.options-size__dot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 41px;
	border: 1px solid #000000;
}

.options-size__dot:not(:last-child) {
	margin-right: 14px;
}

.options-size__dot_active {
	background: #000;
	color:#fff;
}

.options-color__dots {
	margin-top: 34px;
	display: flex;
}

.options-color__dot {
	width: 41px;
	height: 41px;
	border-radius: 100%;
}

.options-color__dot:not(:last-child) {
	margin-right: 14px;
}

.options-color__dot_active {
	border: 1px solid #000000;
}

.options-color__dot_lilac {
	background-color: #927876;
}

.options-color__dot_grey {
	background-color: #D4D4D4;
}

.options-color__dot_rose {
	background-color: #FD9696;
}

.options-color__dot_orange {
	background-color: #FDC796;
}

.addcart {
	display: flex;
}

.addcart__quantity {
	width: 68px;
	height: 68px;
	border: 1px solid #AFAFAF;
	margin-right: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addcart__quantity-text{
	font: 400 20px 'Raleway', sans-serif;
}

/*Navigation*/

.breadcrumbs-container {
	padding-bottom: 84px;
}

.breadcrumbs {
	display: flex;
}

.breadcrumbs__item:not(:last-child) {
	margin-right: 13px;
}

.breadcrumbs__item::after {
	content: "—";
	margin-left: 13px;
}

.breadcrumbs__item_current {
	color: 909090;
}

.breadcrumbs__item_current::after {
	display: none;
}

.breadcrumbs-title {
	margin-bottom: 26px;
}


/*Collection*/ 
.сollection {
	margin-bottom: 130px;
}

.sorting__list {
	display: flex;
}

.sorting__item {
	border: 1px solid #000000;
	padding: 19px 65px;
	margin-bottom: 20px;
}

.sorting__item:not(:last-child) {
	margin-right: 10px;
}

.sorting-item button {
	font: 500 17px 'Raleway', sans-serif;
}

.sorting__item_active {
	background: #000;
}

.sorting__btn_active {
	color: #fff;
}

.indicator {
	display: block;
	color: #808080;
	margin: 50px 0 65 0;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
}

.product-list__item {
	max-width: 31%;
	margin-bottom: 65px;
	margin-right: 30px;
}

.product-list__item:nth-child(3n) {
	margin-right: 0;
}

.product-list__img {
	position: relative;
}

.product-list__img img {
	margin: auto;
}

.product-list__overlay {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(110, 156, 159, 0.77);
	opacity: 0;
}

.product-list__img:hover
.product-list__overlay {
	opacity: 1;
}


.product-list__description {
	text-align: center;
}

.product-list__title {
	margin: 24px 0 7px;
}

.product-list__price {
	color: #998E78;
}

.product-list__price_discount {
	text-decoration: line-through;
	margin-right: 10px;
}

.сollection-btn {
	margin: 0 auto;
}


/*Pagination*/
.pagination-container {
	display: flex;
	justify-content: center;
}

.pagination {
	display: flex;
}

.pagination__item {
	display: flex;
	justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border: 1px solid #000;
    padding: 0;
}	

.pagination__item:not(:last-child) {
	margin-right: 12px;
}

.pagination__item:first-child {
	background-color: #000;
	color: #fff;
}

.pagination__item:last-child {
	border: none;
	justify-content: start;
}

/*Important-info*/
.important {
	display: flex;
	justify-content: space-between;
	padding-bottom: 130px;
}

.important__item {
	max-width: 304px;
}

.important__icon {
	width: 65px;
	height: 65px;
}

.important__icon_quality {
	background: url('../img/icons and arrows/quality.svg')no-repeat center center;
}
.important__icon_speed{
	background: url('../img/icons and arrows/speed.svg')no-repeat center center;
}
.important__icon_responsibility{
	background: url('../img/icons and arrows/responsibility.svg')no-repeat center center;
}

.important__title {
	margin: 37px 0 24px;
}

/*Team*/
.team {
	padding-bottom: 130px;
}

.performance-team {
	display: flex;
}

.slider {
	max-width: 729px;
	max-height: 487px;
	position: relative;
	min-width: 0;
}

.button-next {
	width: 28px;
	height: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -8%;	
	outline: none !important;
}

.button-prev {
	width: 28px;
	height: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -8%;	
	outline: none !important;
}

.button-next:hover {
	opacity: 0.5;
}

.button-prev:hover {
	opacity: 0.5;
}

.image-slider .swiper-pagination-bullet {
	background-color: #fff!important;
}

.performance {
	max-width: 255px;
	margin-left: auto;
	display: flex;
	align-items: center;
}

.performance__text:not(:last-child),
.performance__title {
	margin-bottom: 28px;
}

.performance__link {
	color: #6E9C9F;
}

/*About*/

.about-section {
	margin-bottom: 150px;
}

.about {
	display: flex;
}

.about__foto {
	width: 40%;
	max-width: 442px;	
}

.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}

.about__content {
	max-width: 542px;
}

.about__title {
	margin-bottom: 46px;
}

.about__text:not(:last-child) {
	margin-bottom: 30px;
}

.about-btn {
	max-width: 260px;
	margin: 0 auto;
}

/*Contact*/

.сontact {
	margin-bottom: 130px;
}

.map {
	max-width: 1100px;
	height: 476px;
	background-color: gray;
}

.communication {
	margin: 130px 0 130px;
}

.communication {
	display: flex;
}

.communication__item_right {
	margin-left: auto;
	width: 50%;
}

.communication__item:not(:last-child) {
	margin-right: 111px;
}

.communication__title {
	margin-bottom: 19px;
}

.shipment {
	max-width: 443px;
	margin-bottom: 62px;
}

.comm-input {
	max-width: 350px;
}

.communication-call textarea {
	border: none;
	border-bottom: 1px solid #000000;
	margin-bottom: 35px;
}

.shipment p {
	color: #868686;
}

.shipped {
	max-width: 443px;
	padding: 30px 76px;
	background-color: #F1EADC;
	opacity: 0;
}

/* Cart */

.cart {
	padding-bottom: 130px;
}

.cart-info,
.cart-cap {
	display: flex;
}


.cart-cap__block {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
}

.cart-cap__list {
	display: flex;
	width: 100%;
	padding-bottom: 26px;
	border-bottom: 1px solid #CCCCCC;
}

.cart-info,
.cart-cap__list_left {
	justify-content: space-between;
}

.cart-info_right,
.cart-cap__list_right {
	justify-content: space-around;
	align-items: center;
}

.cart-info {
	width: 100%;
	height:  330px;
	align-items: center;
}

.cart-info__close {
	width: 12px;
	height: 12px;
}

.cart-info__foto {
	max-width: 136px;
	margin: 0 40px;
}

.cart-info__item {
	display: flex;
	align-items: center;
}

.cart-info__item_quantity {
	width: 47px;
	height: 47px;
	border: 1px solid #AFAFAF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-btns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 88px;
}

.cart-btns button {
	width: 255px;
}

.coupon {
	display: flex;
}

.cart-coupon {
	font: 500 17px 'Raleway', sans-serif;
    padding-bottom: 16px;
    border-bottom: 1px solid #000000;
    width: 255px; 
    margin-right: 20px;
}

.result {
	display: flex;
	justify-content: flex-end;
}

.summary__text {
	margin-right: 20px;
}

.total-block {
	display: flex;
	margin-top: 30px;
}

.total {
	width: 287px;
	height: 68px;
	background: #F1EADC;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 15px;
}

.total span {
	font: 500 25px 'Raleway', sans-serif;
}

/*Checkout*/

.сheckout-section {
	padding-bottom: 130px;
}

.сheckout {
	display: flex;
	justify-content: space-between;
	max-width: 918px;
}

.сheckout__order {
	max-width: 350px;
}

.сheckout__order form {
	margin-bottom: 81px;
}

.order-info {
	max-width: 100%;
}

.order-info__title {
	margin-bottom: 47px;
}

.order-info__string {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;
	height: 57px;
}

.order-info__string span {
	width: 130px;
	padding-left: 10px;
}

.order-info__span {
	width: 60px !important;
}

.order-info__string_result {
	background-color: #F1EADC;
}

.order-payment {
	margin-top: 155px;
}


.checkbox__input-block {
	display: flex;
	align-items: center;
	margin: 47px 0;
}

.checkbox__input {
	width: 22px;
	height: 22px;
	margin-right: 15px;
}


.сheckout__comment {
	margin-bottom: 47px;
}

.сheckout__comment-field {
	border: none;
	border-bottom: 1px solid #000;
}

/*Succes*/

.succes-section {
	margin-bottom: 130px;
}

.succes {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.succes__block {
	display: flex;
	align-items: center;
}

.succes__title {
	margin-bottom: 15px;
}

.succes__info {
	margin-left: 40px;
}

.succes__btn {
	width: 275px;
}

/*Footer*/

.footer {
	background: #F1EADC;
	padding: 101px 0;
}

.footer-box {
	display: flex;
}

.footer-info {
	max-width: 205px;
	margin-right: 81px;
}

.footer-copyright {
	font: 400 13px 'Raleway', sans-serif;
}

.footer-copyright:first-of-type {
	margin-top: 70px;
}

.footer-copyright:not(:last-of-type) {
	margin-bottom: 6px;
}

.footer-communications {
	margin-left: auto;
}

.callback-mail {
	margin-top: 9px;
}

.nav-align {
	align-items: start;
}

.contacts {
 	flex-direction: column;
 	align-items: flex-end;
}

.footer-social,
 .banks__link {
	display: flex;
	justify-content: flex-end; 
}

.footer-social__link:not(:last-of-type) {
	margin-right: 12px;
}

.banks {
	margin-top: 30px;
}

/*Pop-up*/
.menu__shop {
	margin-top: 39px;
	display: none;
}

.menu__shop-item {
	font: 400 13px 'Raleway', sans-serif;
	border-bottom: 1px solid rgba(255,255,255,0);
}

.menu__shop-item a:hover {
	font: 400 13px 'Raleway', sans-serif !important;
	color: #000;
}

.menu__shop-item:not(:last-of-type) {
	margin-bottom: 10px;
}

.callback-mail {
	border-bottom: 1px solid rgba(255,255,255,0);
}

.callback-telephone {
	border-bottom: 1px solid rgba(255,255,255,0);
}


/*Modal window*/
.wrapper-modal {
	display: none;
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(110, 156, 159, 0.95);
}

.modal-window {
	display: none;
	position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thanks-window {
	display: none;
	background: #fff;
    max-width: 600px;
    padding: 70px;
	position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:  center;
}

.form-call {
    background: #fff;
    padding: 70px;
    max-width: 491px;
    margin: 0 auto;
}

.form-call__title {
	margin-bottom: 35px;
}

.form-call__input {
	font: 500 17px 'Raleway', sans-serif;
	padding-bottom: 16px;
	border-bottom: 1px solid #000000;
	width: 100%;
	margin-bottom: 35px;
}

.select-btn {
	width: 100%;
}

.menu-close {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 15px;
	height: 15px;
    font-size: 25px;
    font-weight: 400;
    color: #858585;
}

.thanks-window__btn {
	margin: 35px auto 0; 
}


/* Large: 992px - 1299px */
@media (max-width: 1299px) {
 	.container {
		max-width: 960px;
	}

	.logo {
		margin-right: 80px 
	}

	.menu {
        margin-right: 90px;
	}	

	.too-img {
		display: none;
	}

	.three-img {
		display: none;
	}

	.button-next {
		display: none;
	}

	.button-prev {
		display: none;
	}

	.slider {
    max-width: 630px;
    max-height: 430px;
	}

	.sorting__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	}

	.communication__item:not(:last-child) {
    margin-right: 50px;
	}

	.сheckout {
		justify-content: space-around !important;
	}

	.product-list{
		flex-wrap: wrap;
	}

	.one-item-container {
    	padding-top: 80px;
	}
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px
	}

	.offer {
    padding-top: 60px;
	}

	.offer-wrapper {
		 flex-direction: column;
	}

	.menu {
		display: none;
	}

	.offer,
	.offer-img {
		margin: 0 auto;
	}

	.too-img {
		display: block;
	}

	.offer__dots {
		display: none;
	}

	.offer-img {
		margin-top: 50px;
	}

	.callback-telephone_menu {
		display: none;
	}

	.offer {
		padding-top: 70px;
	}

	.important {
		flex-wrap: wrap;
	}

	.important__item {
		margin-bottom: 70px;
	}

	.performance-team {
		flex-direction: column;
	}

	.сollection-title {
		text-align: center;
	}

	.slider {
		max-width: 500px;
		margin: 0 auto;
	}

	.performance {
		margin: 40px auto 0;
		max-width: 315px;
	}

	.swiper-pagination {
		display: none;
	}

	.product-list__item {
		width: 40%;
		margin-right: 40px !important;
	}

	.one-item-block {
		flex-wrap: wrap;
	}

	.one-foto {
		width: 300px;
		height: 500px;
 	}

 	.one-item {
     	display: block; 
    	margin-left: 20px;
	}

	section {
    	padding-top: 80px;
	}

	.сollection {
   	 	margin-bottom: 80px;
	}

	.team {
    	padding-bottom: 80px;
	}

	.indicator {
    	margin: 30px 0 30px 0;
	}

	.one-item-container {
    	padding-top: 10px;
	}

	.about-section {
    	margin-bottom: 20px;
	}

	.about {
		flex-direction: column;
   		margin-bottom: 50px;
	}

	.about_rev {
		flex-direction: column-reverse;
	}

	.about__foto {
		margin-bottom: 30px;
		width: 100%;
    	max-width: 500px;
	}

	.cart {
    	padding-bottom: 80px;
	}

	.cart-btns {
    	flex-wrap: wrap;
	}

	.coupon {
		margin-bottom: 30px;
	}

	.сheckout__order {
    	max-width: 250px;
	}

	.order-info__string{
		max-width: 250px;
	}

	.succes__info {
    	margin-left: 25px;
	}

	.cart-cap__block_left {
		width: 60%;
	}

	.cart-cap__block_right {
		width: 40%;
	}

	.communication__item:not(:last-child) {
    margin-right: 30px;
	}

	.hamburger {
		display: block;
	}

}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}

	.too-img {
		display: none;
	}

	.important__item {
		margin: 0 auto;
		max-width: 370px;
		margin-bottom: 30px;
	}

	.one-foto {
    	width: 240px;
    	height: 300px;
	}	

	.communication {
     	flex-wrap: wrap;
	}

	.communication__item_right {
    	margin: 30px 0 0 !important;
   		 width: 100%;
	}

	.cart-cap {
    	display: block;
	}

	.cart-cap__block_left {
    	width: 100%;
	}

	.cart-cap__block_right {
		 width: 100%;
	}

	.cart-cap__list_right {
		 flex-direction: column;
		 width: 50%;
		 padding: 0;
		 height: 150px;
	}

	.cart-info {
		height: 250px;
	}

	.cart-info_right {
		flex-direction: column;
		width: 50%;
		height: 150px;
		border-bottom: 1px solid #CCCCCC;
		align-items: flex-end;
	}

	.cart-btns {
		margin-top: 80px;
	}

	.сheckout {
		flex-wrap: wrap;
	}

	.сheckout__order {
    	max-width: 210px;
	}

	.сheckout__comment-field,
	.сheckout__comment {
		display: none;
	}

	.succes {
		flex-wrap: wrap;
		justify-content: center;
	}

	.succes__btn {
		margin-top: 50px;
	}

}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
	}

	body {
		font: 500 14px 'Raleway', sans-serif;				
	}

	h1 {
		font: 500 43px 'Raleway', sans-serif;
	}

	h2 {
		font: 500 28px 'Raleway', sans-serif;
		margin-bottom: 92px;
	}

	h3 {
		font: 500 19px 'Raleway', sans-serif;
	}

	h4 {
		font: 500 16px 'Raleway', sans-serif;
	}

	.offer-img {
		display: none;
	}

	.offer__slider {
    width: 280px;
	}

	.offer__btns {
		justify-content: flex-start;
	}

	.product-list__item {
		max-width: 100% !important;
		width: 100% !important;
		margin: 0 0 20px !important;
	}

	.slider {
		max-width: 290px;
	}

	.footer-box {
		flex-wrap: wrap;
	}

	.footer-communications {
		margin: 30px 0 0;
	}

	.banks__link,
	.footer-social,
	.contacts {
    align-items: flex-start;
    justify-content: flex-start;
	}

	.offer__button {
		margin-top: 30px;
		max-width: 290px;
	}

	.offer__down {
		display: none;
	}

	.offer__btns {
		padding: 22px 30px;
	}

	.footer {
		padding: 80px 0;
	}

	.sorting__item {
		margin-right: 0 !important;
		width: 280px;
		display: flex;
		justify-content: center;
	}

	.сheckout-section {
		padding: 10px 0 20px;
	}

	.сheckout__order form {
    	margin-bottom: 50px;
	}

	.order-payment {
    	margin-top: 90px;
	}

	.breadcrumbs {
		display: flex;
		flex-direction: column;
	}

	.breadcrumbs__item:not(:last-child) {
		margin-bottom: 10px;
	}

	.cart-info__item {
		flex-direction: column;
		align-items: start;
	}

	.cart-info__item_quantity {
		align-items: center;
	}

	.cart-info__foto {
		margin: 10px 0;
	}

	.cart-cap__list_right {
		align-items: start;
	}

	.coupon {
		display: block;
	}

	.cart-coupon {
		margin-bottom: 30px;
	}

	.total-block {
		display: block;
	}

	.result {
    	justify-content: flex-start;
	}

	.total__btn {
		margin-top: 30px;
	}

	.communication-call textarea {
		width: 280px;
	}

	.map {
		display: none;
	}

	.communication {
    	margin: 0px 0 50px;
    }

    .communication__telephone {
    	margin-bottom: 30px;
    }

    .communication__item {
    	margin-top: 40px;
    }

    .сontact {
    	padding-top: 10px;
    	margin-bottom: 40px;
    }

    section {
    	padding-top: 50px;
	}

	.addcart__btn {
		padding: 22px 7px;
	}

	.logo {
    	margin-right: 20px;
	}

}


